*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}
header{
    background-color: rgb(65, 155, 228);
    height: 65px;
    display: flex;
    align-items: center;
}
header h1{
    font-size: 2.5rem;
    color: white;
    margin: 10px;
}
.container{
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
}
.container .div-form{
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
}
.container .div-form form{
    display: flex;
    flex-direction: column;
    
}
.input-title, .input-description {
    margin: 2px;
    padding: 5px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
}
.input-button{
    margin: 4px 2px;
    background-color: rgb(70, 211, 112);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px;
}
.container .div-table{
    margin: 10px;
}
.container .div-table .table-task{
    border-collapse: collapse;
    width: 100%;
}
.container .div-table .table-task th{
    font-size: 1.8rem;
    font-weight: 700;
    border: 1px solid rgb(201, 201, 201);
    padding: 5px;
}
.container .div-table .table-task tr{
    font-size: 1.6rem;
    font-weight: 300;
}
.container .div-table .table-task tr td{
    padding: 5px;
    border: 1px solid rgb(201, 201, 201);
}